In [57]:
import numpy as np
import scipy.stats as ss
import random as rnd
import matplotlib.pyplot as plt
import pandas as pd

In [64]:
#______Problema 1________

# a) tener en cuenta que 1 pulgada = 2.54 cm

df = pd.read_excel('VEF.xls')
height_cm = df['Altura(pulgadas)']*2.54
df['Altura(pulgadas)']=height_cm
df.rename(columns={'Altura(pulgadas)': 'Altura(cm)'}, inplace=True)
df

        Id  Edad    VEF  Altura(cm)  Sexo  Fumador
0      301     9  1.708      144.78     0        0
1      451     8  1.724      171.45     0        0
2      501     7  1.720      138.43     0        0
3      642     9  1.558      134.62     1        0
4      901     9  1.895      144.78     1        0
5     1701     8  2.336      154.94     0        0
6     1752     6  1.919      147.32     0        0
7     1753     6  1.415      142.24     0        0
8     1901     8  1.987      148.59     0        0
9     1951     9  1.942      152.40     0        0
10    1952     6  1.602      134.62     0        0
11    2001     8  1.735      137.16     1        0
12    2101     8  2.193      148.59     0        0
13    2401     8  2.118      153.67     1        0
14    3102     8  2.258      147.32     1        0
15    3142     7  1.932      134.62     1        0
16    3541     5  1.472      127.00     1        0
17    3551     6  1.878      134.62     0        0
18    4201     9  2.352      149.86     1        0
19    4301     9  2.604      156.21     1        0
20    4351     5  1.400      124.46     0        0
21    5151     5  1.256      133.35     0        0
22    5152     4  0.839      121.92     0        0
23    5201     7  2.578      158.75     1        0
24    5601     9  2.988      165.10     0        0
25    5642     3  1.404      130.81     1        0
26    5702     9  2.348      152.40     1        0
27    6042     5  1.755      132.08     1        0
28    6101     8  2.980      152.40     0        0
29    6801     9  2.100      152.40     0        0
..     ...   ...    ...         ...   ...      ...
624  30041    15  3.985      180.34     1        0
625  30441    18  4.220      172.72     1        0
626  30442    17  4.724      179.07     1        0
627  33741    15  3.731      170.18     1        0
628  34241    17  3.406      175.26     1        1
629  37251    17  3.500      157.48     0        0
630  37252    16  3.674      171.45     0        0
631  37441    17  5.633      185.42     1        0
632  37451    15  3.122      162.56     0        1
633  39051    15  3.330      173.99     0        1
634  40351    16  2.608      157.48     0        1
635  44241    16  3.645      186.69     1        0
636  47241    15  3.799      168.91     1        1
637  48141    18  4.086      170.18     1        1
638  48152    15  2.887      160.02     0        0
639  48441    16  4.070      176.53     1        1
640  52841    17  3.960      177.80     1        0
641  52842    16  4.299      167.64     1        0
642  55951    16  2.981      167.64     0        0
643  57052    15  2.264      160.02     0        1
644  59944    18  4.404      179.07     1        1
645  61951    15  2.278      152.40     0        1
646  63241    16  4.504      182.88     1        0
647  71141    17  5.638      177.80     1        0
648  71142    16  4.872      182.88     1        1
649  73041    16  4.270      170.18     1        1
650  73042    15  3.727      172.72     1        1
651  73751    18  2.853      152.40     0        0
652  75852    16  2.795      160.02     0        1
653  77151    15  3.211      168.91     0        0

[654 rows x 6 columns]

In [74]:
df2 = df[['Edad','VEF','Altura(cm)']]
df2.describe()
#df.describe()
#df1 = df.describe()
#df1.loc['mean'][1:3]

             Edad         VEF  Altura(cm)
count  654.000000  654.000000  654.000000
mean     9.931193    2.636780  155.304688
std      2.953935    0.867059   14.486923
min      3.000000    0.791000  116.840000
25%      8.000000    1.981000  144.780000
50%     10.000000    2.547500  156.210000
75%     12.000000    3.118500  166.370000
max     19.000000    5.793000  187.960000